<a href="https://colab.research.google.com/github/oleeejka/Google-Colab/blob/main/my_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [ ]:
raw_data = pd.read_csv('train.csv', index_col="PassengerId")

In [ ]:
raw_data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
len(raw_data)

891

In [ ]:
raw_data.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [ ]:
clean_data = raw_data.drop('Cabin', axis=1)
clean_data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [ ]:
median_age = clean_data["Age"].median()
clean_data['Age'] = clean_data['Age'].fillna(median_age)

In [ ]:
clean_data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [ ]:
clean_data['Embarked'] = clean_data['Embarked'].fillna('U')

In [ ]:
preprocessed_data = clean_data
gender_colums = pd.get_dummies(preprocessed_data['Sex'], prefix='Sex')
embarked_colums = pd.get_dummies(preprocessed_data["Embarked"], prefix="Embarked")

In [ ]:

preprocessed_data = pd.concat([preprocessed_data, gender_colums], axis=1)
preprocessed_data = pd.concat([preprocessed_data, embarked_colums], axis=1)

In [ ]:
preprocessed_data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U
PassengerId,,,,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,False,True,False,False,True,False
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,True,False,True,False,False,False
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,True,False,False,False,True,False
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,True,False,False,False,True,False
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,False,True,False,False,True,False
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,True,False,False,False,True,False
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,S,True,False,False,False,True,False
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,False,True,True,False,False,False
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,False,True,False,True,False,False

In [ ]:
pclass_colums = pd.get_dummies(preprocessed_data['Pclass'], prefix='Pclass')
preprocessed_data = pd.concat([preprocessed_data, pclass_colums], axis=1)

In [ ]:
preprocessed_data = preprocessed_data.drop(['Sex', 'Embarked', 'Pclass'], axis=1)

In [ ]:
preprocessed_data

,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,,,,,,,
1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,False,True,False,False,True,False,False,False,True
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,True,False,True,False,False,False,True,False,False
3,1,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,True,False,False,False,True,False,False,False,True
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,True,False,False,False,True,False,True,False,False
5,0,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,False,True,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,False,True,False,False,True,False,False,True,False
888,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,True,False,False,False,True,False,True,False,False
889,0,"Johnston, Miss. Catherine Helen ""Carrie""",28.0,1,2,W./C. 6607,23.4500,True,False,False,False,True,False,False,False,True
890,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,False,True,True,False,False,False,True,False,False
891,0,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,False,True,False,True,False,False,False,False,True

In [ ]:
bins = [10, 20, 30, 40, 50, 60, 70, 80]
categorized_age = pd.cut(preprocessed_data['Age'], bins)
preprocessed_data['Categorized_age'] = categorized_age
preprocessed_data = preprocessed_data.drop(['Age'], axis=1)

In [ ]:
preprocessed_data

,Survived,Name,SibSp,Parch,Ticket,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,Pclass_1,Pclass_2,Pclass_3,Categorized_age
PassengerId,,,,,,,,,,,,,,,,
1,0,"Braund, Mr. Owen Harris",1,0,A/5 21171,7.2500,False,True,False,False,True,False,False,False,True,"(20, 30]"
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0,PC 17599,71.2833,True,False,True,False,False,False,True,False,False,"(30, 40]"
3,1,"Heikkinen, Miss. Laina",0,0,STON/O2. 3101282,7.9250,True,False,False,False,True,False,False,False,True,"(20, 30]"
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0,113803,53.1000,True,False,False,False,True,False,True,False,False,"(30, 40]"
5,0,"Allen, Mr. William Henry",0,0,373450,8.0500,False,True,False,False,True,False,False,False,True,"(30, 40]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,"Montvila, Rev. Juozas",0,0,211536,13.0000,False,True,False,False,True,False,False,True,False,"(20, 30]"
888,1,"Graham, Miss. Margaret Edith",0,0,112053,30.0000,True,False,False,False,True,False,True,False,False,"(10, 20]"
889,0,"Johnston, Miss. Catherine Helen ""Carrie""",1,2,W./C. 6607,23.4500,True,False,False,False,True,False,False,False,True,"(20, 30]"
890,1,"Behr, Mr. Karl Howell",0,0,111369,30.0000,False,True,True,False,False,False,True,False,False,"(20, 30]"
891,0,"Dooley, Mr. Patrick",0,0,370376,7.7500,False,True,False,True,False,False,False,False,True,"(30, 40]"

In [ ]:
preprocessed_data = preprocessed_data.drop(['Name', 'Ticket'], axis=1)
preprocessed_data

,Survived,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,Pclass_1,Pclass_2,Pclass_3,Categorized_age
PassengerId,,,,,,,,,,,,,,
1,0,1,0,7.2500,False,True,False,False,True,False,False,False,True,"(20, 30]"
2,1,1,0,71.2833,True,False,True,False,False,False,True,False,False,"(30, 40]"
3,1,0,0,7.9250,True,False,False,False,True,False,False,False,True,"(20, 30]"
4,1,1,0,53.1000,True,False,False,False,True,False,True,False,False,"(30, 40]"
5,0,0,0,8.0500,False,True,False,False,True,False,False,False,True,"(30, 40]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,0,0,13.0000,False,True,False,False,True,False,False,True,False,"(20, 30]"
888,1,0,0,30.0000,True,False,False,False,True,False,True,False,False,"(10, 20]"
889,0,1,2,23.4500,True,False,False,False,True,False,False,False,True,"(20, 30]"
890,1,0,0,30.0000,False,True,True,False,False,False,True,False,False,"(20, 30]"
891,0,0,0,7.7500,False,True,False,True,False,False,False,False,True,"(30, 40]"

In [ ]:
preprocessed_data.columns

Index(['PassengerId', 'Survived', 'SibSp', 'Parch', 'Fare', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Embarked_U',
       'Pclass_1', 'Pclass_2', 'Pclass_3', 'Categorized_age'],
      dtype='object')

In [ ]:
preprocessed_data.index_col = 'PassengerId'

In [ ]:
preprocessed_data

,PassengerId,Survived,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,Pclass_1,Pclass_2,Pclass_3,Categorized_age
0,1,0,1,0,7.2500,False,True,False,False,True,False,False,False,True,"(20, 30]"
1,2,1,1,0,71.2833,True,False,True,False,False,False,True,False,False,"(30, 40]"
2,3,1,0,0,7.9250,True,False,False,False,True,False,False,False,True,"(20, 30]"
3,4,1,1,0,53.1000,True,False,False,False,True,False,True,False,False,"(30, 40]"
4,5,0,0,0,8.0500,False,True,False,False,True,False,False,False,True,"(30, 40]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,0,0,13.0000,False,True,False,False,True,False,False,True,False,"(20, 30]"
887,888,1,0,0,30.0000,True,False,False,False,True,False,True,False,False,"(10, 20]"
888,889,0,1,2,23.4500,True,False,False,False,True,False,False,False,True,"(20, 30]"
889,890,1,0,0,30.0000,False,True,True,False,False,False,True,False,False,"(20, 30]"
890,891,0,0,0,7.7500,False,True,False,True,False,False,False,False,True,"(30, 40]"

In [ ]:
preprocessed_data = preprocessed_data.drop(['PassengerId'], axis=1)

In [ ]:
preprocessed_data

,Survived,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,Pclass_1,Pclass_2,Pclass_3,Categorized_age
0,0,1,0,7.2500,False,True,False,False,True,False,False,False,True,"(20, 30]"
1,1,1,0,71.2833,True,False,True,False,False,False,True,False,False,"(30, 40]"
2,1,0,0,7.9250,True,False,False,False,True,False,False,False,True,"(20, 30]"
3,1,1,0,53.1000,True,False,False,False,True,False,True,False,False,"(30, 40]"
4,0,0,0,8.0500,False,True,False,False,True,False,False,False,True,"(30, 40]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,0,0,13.0000,False,True,False,False,True,False,False,True,False,"(20, 30]"
887,1,0,0,30.0000,True,False,False,False,True,False,True,False,False,"(10, 20]"
888,0,1,2,23.4500,True,False,False,False,True,False,False,False,True,"(20, 30]"
889,1,0,0,30.0000,False,True,True,False,False,False,True,False,False,"(20, 30]"
890,0,0,0,7.7500,False,True,False,True,False,False,False,False,True,"(30, 40]"

In [ ]:
preprocessed_data

,Survived,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,...,"Age_(50, 60]","Age_(60, 70]","Age_(70, 80]","Age_(10, 20]","Age_(20, 30]","Age_(30, 40]","Age_(40, 50]","Age_(50, 60]","Age_(60, 70]","Age_(70, 80]"
0,0,1,0,7.2500,False,True,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
1,1,1,0,71.2833,True,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,1,0,0,7.9250,True,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
3,1,1,0,53.1000,True,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,False
4,0,0,0,8.0500,False,True,False,False,True,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,0,0,13.0000,False,True,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
887,1,0,0,30.0000,True,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
888,0,1,2,23.4500,True,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
889,1,0,0,30.0000,False,True,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
890,0,0,0,7.7500,False,True,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False

In [ ]:
age_columns = pd.get_dummies(preprocessed_data['Categorized_age'], prefix='Age')
preprocessed_data = pd.concat([preprocessed_data, age_columns], axis=1)
preprocessed_data = preprocessed_data.drop(['Categorized_age'], axis=1)

KeyError: 'Categorized_age'

In [ ]:
data = preprocessed_data
features = data.drop(['Survived'], axis=1)
labels = data['Survived']

In [ ]:
features
labels

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
features

,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,Pclass_1,...,"Age_(50, 60]","Age_(60, 70]","Age_(70, 80]","Age_(10, 20]","Age_(20, 30]","Age_(30, 40]","Age_(40, 50]","Age_(50, 60]","Age_(60, 70]","Age_(70, 80]"
0,1,0,7.2500,False,True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
1,1,0,71.2833,True,False,True,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
2,0,0,7.9250,True,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
3,1,0,53.1000,True,False,False,False,True,False,True,...,False,False,False,False,False,True,False,False,False,False
4,0,0,8.0500,False,True,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,0,13.0000,False,True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
887,0,0,30.0000,True,False,False,False,True,False,True,...,False,False,False,True,False,False,False,False,False,False
888,1,2,23.4500,True,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
889,0,0,30.0000,False,True,True,False,False,False,True,...,False,False,False,False,True,False,False,False,False,False
890,0,0,7.7500,False,True,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [ ]:
from sklearn.model_selection import train_test_split
features_train, features_validation_test, labels_train, labels_validation_test = train_test_split(features, labels, test_size=0.4)
features_validation, features_test, labels_validation, labels_test = train_test_split(features_validation_test, labels_validation_test, test_size=0.5)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(features_train, labels_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
lr_model.score(features_validation, labels_validation)

0.8258426966292135